#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Home{
 display: flex;
 border: 1px solid black;
 justify-content: end;
 flex-direction: column;;
 padding: 10px;
}

.answers{
  position: fixed;
  top: 5px;
  right: 5px;
}

.task{
  display: flex;
  gap: 20px;
}
